@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/purple";

:root {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
}

:root[data-redisigned="true"] {
  background: var(--bg-redisigned);
  font: var(--font-m-redisigned);
  color: var(--text-redisigned);
}

.app {
  min-height: 100vh;
}

.content-page {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}
