:root {
  --red-light: rgba(255 0 0 / 100%);
  --red-dark: rgba(160 0 0 / 100%);

  // turquoise
  --color-turquoise: 82 232 225;
  --turquoise: rgb(var(--color-turquoise));

  // light-steel-blue
  --color-light-steel-blue: 185 209 209;
  --light-steel-blue: rgb(var(--color-light-steel-blue));

  // teal
  --color-teal: 0 106 100;
  --teal: rgb(var(--color-teal));

  // dark-slate-gray
  --color-dark-slate-gray: 37 37 37;
  --dark-slate-gray: rgb(var(--color-dark-slate-gray));

  // light-slate-gray
  --color-light-slate-gray: 119, 136, 153;
  --light-slate-gray: rgb(var(--color-light-slate-gray));
}
