.title {
  color: var(--primary-color);
  font: var(--font-l);
}

.text {
  color: var(--secondary-color);
  font: var(--font-m);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.inverted {
  .title {
    color: var(--inverted-primary-color);
  }

  .text {
    color: var(--inverted-secondary-color);
  }
}

.sm {
  .title {
    font: var(--font-m);
  }

  .text {
    font: var(--font-s);
  }
}

.md {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.lg {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}
