.menu {
  position: relative;
  cursor: pointer;
}

.items {
  background: var(--listbox-bg);
  z-index: 10;
  position: absolute;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.item.active {
  color: var(--primary-color);
}
