.addonLeft svg,
.addonRight svg {
  color: var(--hint-redisigned);
}

.Button {
  cursor: pointer;
  color: var(--text-redisigned);
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: var(--accent-redisigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redisigned);
    }
  }
}

.outline {
  background: none;
  border: 1px solid var(--icon-redisigned);
  border-radius: 16px;

  &.disabled {
    cursor: auto;
    border: 1px solid var(--hint-redisigned);
    color: var(--hint-redisigned);
  }

  &:hover {
    border-color: var(--accent-redisigned);
    color: var(--text-redisigned);
  }

  &.disabled:hover {
    border-color: var(--hint-redisigned);
    color: var(--hint-redisigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--hint-redisigned);
    }
  }
}

.cancel {
  background: none;
  border: 1px solid var(--cancel-redisigned);
  border-radius: 16px;

  &:hover {
    color: var(--cancel-redisigned);
  }
}

.save {
  background: none;
  border: 1px solid var(--save-redisigned);
  border-radius: 16px;

  &:hover {
    color: var(--save-redisigned);
  }
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.filled {
  background: var(--light-bg-redisigned);
  border: none;
  outline: none;
  border-radius: 34px;
}

.m {
  font: var(--font-m-redisigned);
}

.l {
  font: var(--font-l-redisigned);
}

.xl {
  font: var(--font-xl-redisigned);
}

.addonLeftDiv,
.addonRightDiv {
  display: flex;
}

.padding-standart {
  padding: 8px 16px;
}

.padding-min {
  padding: 0 16px;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}
