.addonLeft svg,
.addonRight svg {
  color: var(--hint-redisigned);
}

.Button {
  cursor: pointer;
  color: var(--text-redisigned);
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: var(--accent-redisigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redisigned);
    }
  }
}

.outline {
  background: none;
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.filled {
  background: var(--light-bg-redisigned);
  border: none;
  outline: none;
  border-radius: 34px;
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font: var(--font-m-redisigned);
}

.l {
  font: var(--font-l-redisigned);
}

.xl {
  font: var(--font-xl-redisigned);
}

.addonLeft {
  display: flex;
}

.addonRight {
  display: flex;
}

.padding-standart {
  padding: 8px 16px;
}

.padding-min {
  padding: 0 16px;
}
