.listbox {
  position: relative;
  display: inline-block;
}

.trigger {
  background: none;
  border: none;
}

.options {
  background: var(--listbox-bg);
  position: absolute;
  padding: 6px;
  min-width: 100%;
  border-radius: 10px;
  z-index: 10;
}

.bottomLeft {
  top: 110%;
  right: 0;
}

.bottomRight {
  top: 110%;
  left: 0;
}

.topLeft {
  bottom: 110%;
  right: 0;
}

.topRight {
  bottom: 110%;
  left: 0;
}

.item {
  list-style: none;
  cursor: pointer;
}

.item.active {
  color: var(--secondary-color);
}

.item.selected {
  color: var(--secondary-color);
}
