.listbox {
  position: relative;
  display: inline-block;
}

.trigger {
  transition: color 0.3s;
}

.options {
  background: var(--dark-bg-redisigned);
  position: absolute;
  min-width: 100%;
  border-radius: 10px;
  z-index: 110;
  border: 1px solid var(--accent-redisigned);
  overflow: hidden;
}

.item {
  list-style: none;
  cursor: pointer;
  padding: 6px;
}
