.listbox {
  position: relative;
  display: inline-block;
}

.trigger {
  background: none;
  border: none;
}

.options {
  background: var(--dark-bg-redisigned);
  position: absolute;
  min-width: 100%;
  border-radius: 10px;
  z-index: 10;
}

.item {
  list-style: none;
  cursor: pointer;
  padding: 6px;
}
