.ArticlesPage {
  width: 100%;
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ArticlesPageRedisigned {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

*[loki-test] .ArticlesPage {
  box-shadow: none;
}

*[loki-test] .ArticlesPage::before {
  animation: none;
  opacity: 0;
}
