.label {
  margin-right: 10px;
  color: var(--secondary-color);
}

.select {
  background: none;
  outline: none;
  padding: 5px 15px 5px 5px;
  border-radius: 5px;
  color: var(--secondary-color);
}
