.Code {
  border: 1px solid var(--accent-redisigned);
  border-radius: 16px;
  padding: 20px;
  position: relative;
  background: var(--light-bg-redisigned);
  overflow: auto;
}

.copyBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
