:root[data-theme="dark"] {
  // backgrounds
  --bg-color: rgb(44 44 44);
  --invert-bg-color: rgb(199 199 199);

  // primary
  --primary-color: var(--turquoise);
  --primary-color-translucent: var(--light-slate-gray);
  --inverted-primary-color: var(--teal);
  --inverted-primary-color-translucent: var(--light-slate-gray);

  // secondary
  --secondary-color: var(--light-steel-blue);
  --inverted-secondary-color: var(--dark-slate-gray);
}
