:root[data-theme="light"] {
  --bg-color: rgb(199 199 199);
  --invert-bg-color: rgb(44 44 44);
  --primary-color: rgb(0 106 100);
  --secondary-color: rgb(37 37 37);
  --inverted-primary-color: rgb(82 232 225);
  --inverted-secondary-color: rgb(185 209 209);
}
