:root[data-theme="light"] {
  --bg-color: rgb(199 199 199);
  --invert-bg-color: rgb(44 44 44);
  --primary-color: rgba(var(--teal) / 100%);
  --primary-color-50: rgba(var(--teal) / 50%);
  --secondary-color: rgba(var(--dark-slate-gray) / 100%);
  --inverted-primary-color: rgba(var(--turquoise) / 100%);
  --inverted-primary-color-50: rgba(var(--turquoise) / 50%);
  --inverted-secondary-color: rgba(var(--light-steel-blue) / 100%);
}
