:root[data-theme="light"] {
  // backgrounds
  --bg-color: rgb(199 199 199);
  --invert-bg-color: rgb(44 44 44);

  // primary
  --primary-color: var(--teal);
  --primary-color-translucent: var(--light-slate-gray);
  --inverted-primary-color: var(--turquoise);
  --inverted-primary-color-translucent: var(--light-slate-gray);

  // secondary
  --secondary-color: var(--dark-slate-gray);
  --inverted-secondary-color: var(--light-steel-blue);

  // skeleton
  --skeleton-shadow: rgb(150 150 150);
  --skeleton-color: rgb(225 225 225);

  // code
  --code-bg: rgb(220 220 220);

  // card
  --card-bg: rgb(220 220 220);

  // listbox
  --listbox-bg: rgb(220 220 220);
}
