:root[data-theme="purple"] {
  // backgrounds
  --bg-color: rgb(248 244 251);
  --invert-bg-color: rgb(44 37 49);

  // primary
  --primary-color: #a46ecd;
  --primary-color-translucent: #a46ecd;
  --inverted-primary-color: #5052c3;
  --inverted-primary-color-translucent: #5052c3;

  // secondary
  --secondary-color: #5052c3;
  --inverted-secondary-color: #a46ecd;

  // skeleton
  --skeleton-shadow: rgb(164 132 188);
  --skeleton-color: rgb(234 207 255);

  // code
  --code-bg: rgb(227 210 238);

  // card
  --card-bg: rgb(227 210 238);

  // listbox
  --listbox-bg: rgb(227 210 238);
}
