:root[data-theme="purple"] {
  // backgrounds
  --bg-color: rgb(248 244 251);
  --invert-bg-color: rgb(44 37 49);

  // primary
  --primary-color: #a46ecd;
  --primary-color-translucent: #a46ecd;
  --inverted-primary-color: #5052c3;
  --inverted-primary-color-translucent: #5052c3;

  // secondary
  --secondary-color: #5052c3;
  --inverted-secondary-color: #a46ecd;
}
