.Card {
  overflow: hidden;
}

.normal {
  background: var(--dark-bg-redisigned);
}

.outlined {
  background: none;
  border: 1px solid var(--accent-redisigned);
}

.light {
  background: var(--light-bg-redisigned);
}

.border-normal {
  border-radius: 12px;
}

.border-medium {
  border-radius: 32px;
}

.border-round {
  border-radius: 9999px;
}

.paddingV-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.paddingV-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.paddingV-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.paddingV-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.paddingV-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.paddingV-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.paddingV-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.paddingH-0 {
  padding-left: 0;
  padding-right: 0;
}

.paddingH-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.paddingH-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.paddingH-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.paddingH-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.paddingH-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.paddingH-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.inlineBlock {
  display: inline-block;
}
