.inputWrapper {
  display: flex;
  align-items: center;
  border-radius: 48px;
  border: 1px solid var(--icon-redisigned);
  width: 100%;
}

.paddingV-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.paddingV-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.paddingH-0 {
  padding-left: 0;
  padding-right: 0;
}

.paddingH-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.withAddonLeft {
  padding-left: 8px;
}

.withAddonRight {
  padding-right: 8px;
}

.addonRight,
.addonLeft {
  display: flex;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-redisigned);
  background: none;

  &::placeholder {
    color: var(--hint-redisigned);
  }
}

.focused {
  border-color: var(--accent-redisigned);

  .addonRight svg,
  .addonLeft svg {
    color: var(--accent-redisigned);
  }
}
