.link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
}

.active {
  background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
  border-left: 2px solid var(--accent-redisigned);
  padding-left: 6px;
}

.linkText {
  position: relative;
  white-space: nowrap;
  transition: all 0.3s;
  transform-origin: 0%;

  &.collapsed {
    position: absolute;
    left: 40px;
    opacity: 0;
  }
}
