.ProfileCard {
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editBtn {
  margin-left: auto;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}
