.popup {
  position: relative;
}

.bottomLeft {
  top: 110%;
  right: 0;
}

.bottomRight {
  top: 110%;
  left: 0;
}

.topLeft {
  bottom: 110%;
  right: 0;
}

.topRight {
  bottom: 110%;
  left: 0;
}

.active {
  color: var(--accent-redisigned);
}

.selected {
  background: var(--light-bg-redisigned);
}

.disabled {
  opacity: 0.3;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
