.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--invert-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0;
}

.linkbox {
  display: flex;
  gap: 15px;
  margin-left: auto;
}
